@import 'common/common';
@import 'map';
@import 'ng';
@import 'table-search';
@import 'theater/theater';
@import "company/company";
@import 'session/session';
@import 'show/show';

.header {
  height: 75px;

  .header-logo {
    height: 75px;
  }

  .header-title {
    font-family: 'Knewave', sans-serif;
    letter-spacing: 1ex;
    text-align: center;
  }
}

textarea {
  min-height: 200px;
}

.panel {
  &.error {
    background-color: #cf2a0e;
    color: #fff;
  }

  &.success {
    background-color: #43AC6A;
    color: #fff;
  }

  &:empty {
    display: none;
  }
}