@import "../settings";

.loading {
  border-radius: 2px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color-secondary;
  color: $color-secondary-reverse;

  p {
    margin: 15px;
  }
}