.row {
  display: flex;
  width: 100%;

  &.middle {
    align-items: center;
  }
  &.center {
    justify-content: center;
  }
}

.row:not(.no-separator) {
  .col {
    padding: 5px;
  }
}

@for $i from 1 through 10 {
  .col-#{$i} {
    @extend .col;
    flex: $i;
  }
}

.col-fill {
  @extend .col;
  flex-grow: 1;
}

.col-shrink {
  @extend .col;
  flex-shrink: 1;
}

@for $i from 1 through 20 {
  .col-fix-#{$i * 50} {
    @extend .col;
    flex-basis: #{$i * 50}px;
    flex-shrink: 0;
  }
}