.card-small {
  box-shadow: 0 0 5px #aaa;
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  transition: box-shadow ease 500ms;

  &:hover {
    box-shadow: 0 0 10px #444;
  }

  dl {
    dt {
      float: left;
      width: 30%;
      font-weight: bold;
      text-align: right;
    }

    dd {
      float: left;
      width: 70%;
      padding-left: 10px;

      &:after {
        content: ' ';
        display: table;
        clear: both;
      }
    }
  }

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}