$color-normal: #212121;
$color-primary: #303f9f;
$color-primary-reverse: #fff;
$color-active: $color-primary;
$color-active-reverse: $color-primary-reverse;
$color-disabled: #9e9e9e;
$color-hover: #283593;