@import "settings";

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;

  .popin-question, .popin-message, .popin-confirm {
    .card-actions {
      padding: 15px 30px 30px;
    }

    .card-text {
      padding: 30px 30px 15px;
    }
  }

  .popin-message {
    &.success {
      color: $color-success
    }

    &.error {
      color: $color-error
    }
  }
}